.content {
    height: 100vh;
}

.Card {
    margin-top: 156px;
    padding: 40px 32px;
    width: 448px;
    height: 408px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #212121;
    box-sizing: border-box;
}

.Card img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 520px) {
    .Card {
        max-width: 92vw;
        max-height: fit-content;
        width: 100%;
        height: auto;
    
        gap: 32px;
    }
}
